extends ../../layout/default.pug
block main
  .container 
    .card 
      .card-header  
        form(action="/admin/products/change-status-mutil?_method=PATCH" id="form-change-mutil" method="POST")
          .d-flex.align-items-center
            .form-group
              select(name="type" id="idSelect" class="p-1") 
                option(value="undo") Khôi phục
            .form-group 
              input(type="text" name="ids" inputIds)
            .form-group
              button(type="submit" class="btn btn-danger") Gửi
      .card-body
          table.table.table-bordered.table-hover
            thead.table-dark
              tr
                th 
                  input(type="checkbox", name="" id="check-box-all")
                th STT
                th Hình ảnh
                th Tiêu đề
                th Giá
            tbody
              each item, index in dataProduct 
                tr 
                  td 
                    input(type="checkbox" name="" idItem=item.id check-box-item)
                  td #{index + 1}
                  td 
                    img(src=item.thumbnail, alt=item.title, width="100")
                  td #{item.title}
                  td #{item.price}
  script(src="/admin/js/deleted.js") 
  